.carousel-image img {
    width: 70vw;
    height: 70vh;
}
.carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -110px;
}

.carousel-controls img {
    cursor: pointer;
    width: 50px;
}

.carousel-wrapper {
    margin-top: 50px;
}

.carousel-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-thumbnail img {
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
}
.carousel-thumbnail-active img {
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
    opacity: 0.5;
}